:root {
  --main-background-color: #cccccc;
  --main-dark-gray: #8e8e8e;
  --main-green: #18a774;
  --main-light-green: #8bd3b9;
  --main-deep-blue: #1e98f6;
  --main-light-blue: #78c1f9;
  --main-deep-red: #e01616;
  --main-med-red: #f17777;
  --main-light-red: #f9c8c8;
  --main-light-yellow: #ffff62;
  --main-purple: #6262ff;
  --main-orange: #ff721e;
  --main-fushia: #af2f9d;

  font-family: "Brush Script MT", cursive;
}

body {
  background-color: var(--main-background-color);
}

.wrapper {
  background-color: white;
  width: 1024px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 341px 30px 150px 30px;
  grid-template-areas:
    "header header header"
    "graphic ui result"
    "hTitle hTitle hTitle"
    "history history history"
    "footer footer footer";
}

.header {
  grid-area: header;
  background-color: var(--main-green);
  text-align: center;
  padding: 15px;
}

.title {
  font-size: 64px;
  font-weight: bold;
}

.graphic {
  grid-area: graphic;
  background-color: var(--main-light-yellow);
  padding: 20px;
}

.ui {
  background-color: var(--main-light-yellow);
  grid-area: ui;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "msg msg msg"
    "input submit hint";
}

.result {
  background-color: var(--main-light-yellow);
  font-family: Arial, Helvetica, sans-serif;
  grid-area: result;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.largeTile {
  background-color: white;
  border: 10px solid black;
  height: 100%;
  width: 100%;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas:
    "largeTileNumber"
    "largeTileSymbol"
    "largeTileName";
}

.largeTileNumber {
  font-weight: bold;
  font-size: 3em;
}

.largeTileSymbol {
  font-weight: bold;
  font-size: 11em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.largeTileName {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.footer {
  grid-area: footer;
  background-color: var(--main-green);
}

.msg {
  grid-area: msg;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.input {
  grid-area: input;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textBox {
  text-align: center;
  width: 80%;
  height: 42%;
  border: 4px solid black;
  border-radius: 10px;
}

.submit {
  grid-area: submit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hint {
  grid-area: hint;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnFushia {
  background-color: var(--main-fushia);
  font-weight: bold;
  color: black;
  width: 80%;
  height: 50%;
  border: 4px solid black;
  border-radius: 10px;
}

.btnOrange {
  background-color: var(--main-orange);
  font-weight: bold;
  color: black;
  width: 80%;
  height: 50%;
  border: 4px solid black;
  border-radius: 10px;
}

.hTitle {
  text-align: center;
  font-weight: bold;
  background-color: var(--main-light-green);
  grid-area: hTitle;
  padding-top: 5px;
}
.history {
  grid-area: history;
  background-color: var(--main-light-green);
  display: flex;
  justify-content: center;
  align-items: center;
}

.historyDivs {
  background-color: var(--main-light-green);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "legend test0 test1 test2 test3 extraInfo";
}

.legend {
  font-size: 14px;
  width: 80%;
  display: flex;
  padding-left: 30px;
  padding-bottom: 20px;
}

.legendBox {
  width: 20%;
}
.deepBlue {
  background-color: var(--main-deep-blue);
}

.lightBlue {
  background-color: var(--main-light-blue);
}

.lightRed {
  background-color: var(--main-light-red);
}

.medRed {
  background-color: var(--main-med-red);
}

.test {
  height: 75%;
  width: 75%;
  padding: 5px;
  margin-top: 14px;
  font-weight: bold;
  box-sizing: border-box;
  justify-content: center;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: 5px solid black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "aNum"
    "symbol";
}

.aNum {
  grid-area: aNum;
  display: flex;
  font-size: 18px;
  align-items: center;
  text-align: left;
  box-sizing: border-box;
}

.symbol {
  text-align: center;
  font-size: 60px;
}
